body{
    background-color: #fb5200;
    text-align: center;
}
p{
    color: bisque;
}
h1{
    color: blueviolet;
    background-color: burlywood;
}
h2{
    background-color: black;
    color: aliceblue;
}
img{
    width: 100px;
    height: 100px;
}